/* colors at https://coolors.co/202a25-b80c09-0b4f6c-ecf1f6-333333 */

html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #333;
  margin: 0;
  padding: 0;
  color: #ecf1f6;
  font-family: Roboto, sans-serif;
  font-weight: 300;
}

p,
ul,
li {
  font-size: 18px;
}

nav {
  width: 100%;
}

nav a img {
  cursor: pointer;
  padding: 20px;
  margin: 0;
}

nav a > img:hover {
  background-color: #0b4f6c;
}

nav > a:nth-child(2) > img {
  position: absolute;
  right: 0;
  transform: rotate (180deg);
}

header {
  background-color: #ecf1f6;
  color: #333;
  overflow: auto;
  font-size: 35px;
  text-align: center;
}

main#wrap {
  position: relative;
  min-height: 500px;
  margin: 25px 8% 100px;
  overflow: hidden;
}

article#two-column,
article#search-page {
  display: none;
}

article#two-column article {
  display: flex;
  flex-direction: row;
}

article#search-page section {
  margin: 25px auto;
  width: 60%;
}

article#two-column article section {
  margin-right: 9%;
}

article#two-column article section,
article#two-column article figure {
  display: inline-block;
  width: 45%;
}

article#two-column article figure {
  margin: 0;
}

article#two-column article figure img {
  max-width: 100%;
  max-height: 100%;
}

article#two-column article figure figcaption ul {
  list-style: none;
  margin: 10px 0;
  padding: 0 20px;
}

article#two-column article figure figcaption ul li {
  margin: 5px 0;
  padding: 10px;
}

article#search-page {
  text-align: center;
  width: 100%;
}

article#search-page section input {
  box-sizing: border-box;
  width: 100%;
  padding: 0;
}

article#search-page div div {
  display: inline-block;
  background-color: #ecf1f6;
  color: #333;
  padding: 5px;
  margin: 0 10px;
  cursor: pointer;
}

footer {
  background-color: #ecf1f6;
  color: #333;
  overflow: auto;
  font-size: 30px;
  text-align: center;
}

@media only screen and (max-width: 768px) {
  article#two-column article {
    flex-wrap: wrap;
  }

  article#two-column article section {
    margin-right: 0;
  }

  article#two-column article figure {
    margin-top: 40px;
  }

  article#two-column article section,
  article#two-column article figure {
    width: 100%;
  }
}
